.primary {
  @apply py-1 px-3.5 border-2 border-zinc-300 rounded-full;  
  @apply hover:border-zinc-400;
  @apply
    dark:text-sky-400
    dark:border-[1px]
    dark:border-sky-400
    dark:hover:bg-sky-400
    dark:hover:text-sky-50
    dark:hover:border-sky-500;
}

.secondary {
  @apply py-1 px-3.5 border-2 border-zinc-200; 
  @apply bg-zinc-200 rounded-full;
  @apply hover:bg-zinc-300 hover:border-zinc-300;
  @apply dark:bg-zinc-400 dark:border-zinc-400
}