@layer base {
  :root {
    --scrollbar-track-color: #0002;
    --scrollbar-color: #101010;

    --scrollbar-size: 4px;
    --scrollbar-minlength: 20px;

    min-height: 100.019vh;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --scrollbar-track-color: #101010;
      --scrollbar-color: #1156ffaa;
    }
  }

  

  ::-webkit-scrollbar {
    height: var(--scrollbar-size);
    width: var(--scrollbar-size);
  }

  ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
  }

  ::-webkit-scrollbar-thumb:vertical {
    min-height: var(--scrollbar-minlength);
  }

  ::-webkit-scrollbar-thumb:horizontal {
    min-width: var(--scrollbar-minlength);
  }
}