.wrapper {
  @apply flex flex-col gap-2 w-full;
}

.label {
  @apply dark:text-zinc-500 dark:hover:text-zinc-300;
}

.input {
  @apply
    border
    border-zinc-300
    py-1.5
    px-4
    w-full
    rounded-md;
  /* focus */
  @apply
    focus:outline-none
    focus:ring-2
    focus:ring-zinc-400
    focus:ring-offset-2 dark:bg-black; 
  /* dark mode */
  @apply
  dark:border-zinc-300/40
  dark:placeholder:text-zinc-600
  dark:text-sky-400 dark:focus:ring-1 
  dark:focus:ring-sky-400 dark:focus:ring-offset-1;
}
